<h1>Home</h1>
<ul>
    <li>Last time you used energy:{{data.energy_lt|date('Y-m-d H:i:s')}}</li>
    <li>
        Energy(SQL): {{data.spendEnergy}}
    </li>
    <li>
        Total Spend Energy: <span id="counter">{{lastEnergy}}</span>
    </li>
    <li>
        Money: {{data.money}}
    </li>
    <li>Damage output: {{data.damage_outp}}</li>
</ul>

<div style="display:flex;justify-content:center;">
    <ul>
        <li>
            <a href="index.php?action=energyToMoney" class="c-btn">Turn your Energy into money.</a>
        </li>
        <li>
            <a href="index.php?action=moneyToDamage" class="c-btn">Upgrade damage output for money (min 5).</a>
        </li>
        <li>
            <a href="index.php?action=startBattle" id="battleStart" class="c-btn">Start a battle for 20 energy.</a>
        </li>
    </ul>
    <img src="public/userSkins/{{skin}}.webp" width="320" height="660" alt="player">
    <form action="index.php?action=changeSkin" method="post">
        ChangeSkin :
        <select name="skin" id="skin">
            <option value="fg">Female Grey</option>
            <option value="fb">Female Blue</option>
            <option value="fp">Female Pink</option>
            <option value="mg">Male Grey</option>
            <option value="mb">Male Blue</option>
            <option value="mp">Male Pink</option>
        </select>
        <input type="submit" value="Change" />
    </form>
</div>


<script>
// Arteficial display of timeTokens counter.
//Via head inladen lukt niet??
console.log('js');
const counterElement = document.getElementById("counter");
const battleStartBtn = document.getElementById("battleStart");
let count = parseInt(counterElement.textContent, 10);
const max = 100;
if (count > max) {
    count = max;
    counterElement.textContent = count;
    
} else {
    battleStartBtn.classList.add('c-btn__inactive');
    const interval = setInterval(() => {
        count++;
        counterElement.textContent = count;
        if (count >= max) {
            clearInterval(interval);
        }
        if(count > 20 ){
            battleStartBtn.classList.remove('c-btn__inactive');
        }
    }, 1000);
}
</script>